li.reminder-container {
    width: 100%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.20);
    height:70px;
}

#add-reminder-button {
    margin-left: 10px;
    margin-bottom: 20px;
}

.reminder-container {
    /* border:solid red 1px; */
    display: flex;
    justify-content: space-between;
    background: #8394EA;
    border-radius: 15px;
    border:none;
    color: #F6FBF9;
    cursor: pointer;
    font-family: 'Karla';
    font-style: normal;

    margin: 10px;
    padding: 10px;

}


.reminder-details{
    width: 234px;
    height: 90px;
    background: #8394EA;
    border-radius: 15px;
    border:none;
    color: #F6FBF9;
    cursor: pointer;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    padding-left: 10px;
    padding-top: 10px;
    text-align: left;
    margin-bottom: 20px;
}

#remind-title {
    font-size: 20px;
    padding-top:2px;
    padding-left: 10px;
    font-weight: 600;
    padding-bottom: 7px;
}

#remind-date {
    font-size: 14px;
    padding-left: 10px;
}

.button-set {
    display: flex;
    flex-direction: row;

}


.delete-reminder-btn{
    float: right;
    margin-top: 4px;
    margin-right:10px;
    /* border:none; */
    cursor: pointer;
    border: none;
    width: 40px;
    height: 40px;
    background-color:#F6FBF9;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15)
}

.reminder-share-btn{
    float: right;
    margin-top: 4px;
    margin-right:26px;
    /* border:none; */
    cursor: pointer;
    border: none;
    width: 40px;
    height: 40px;
    background-color:#F6FBF9;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15)
}

.fa-paper-plane {
    color: #84C7AE;
}

.fa-paper-plane:hover {
    color: #5A9E85;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 9px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #a8a8a8;
    /* box-shadow: 0 0 1px rgba(255, 255, 255, .5); */
  }

  .index-wrapper h1{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
}

