@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Karla:wght@400;500;700&display=swap');


.signup-form{
  display: flex;
  flex-direction: column;
  font-family: 'Karla';
  margin: 63px auto;
  /* position: absolute; */
  width: 627px;
  height: 627px;
  left: 406px;
  top: 135px;
  background: #F6FBF9;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 49px;
}

.signup-title {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 72px;
  text-align: center;
  color: #212B27;
  margin-top: 25px;
  
}

.signup-description{
  position: relative;
  top: 10px;
  width: 530px;
  height: 54px;
  margin:0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  /* line-height: 30px; */
  text-align: center;
  color: #32403B;
  margin-bottom: 10px;
  /* margin-top: 5px; */
}

.input-wrapper{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 40px; */
}


.buttons-wrapper{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.input-wrapper div input{
  width: 490px;
  height: 50px;
  border: 1.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-indent: 50px;
  /* margin-top: 10px; */
}




.signup-btn{
  width: 300px;
  height: 50px;
  background: #84C7AE;
  border-radius: 23px;
  border:none;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 44px;
  color: #F6FBF9;
  margin-top:10px;
  cursor: pointer;
}

.signup-btn:hover{
  background: #5A9E85;
}

.errors {
  color:#A61A2E;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}
