@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Karla:wght@400;500;700&display=swap');


.login-form{
  display: flex;
  flex-direction: column;
  font-family: 'Karla';
  margin: 0 auto;
  /* position: absolute; */
  width: 627px;
  height: 565px;
  margin-top: 63px;
  background: #F6FBF9;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 49px;
}

.login-title {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 72px;
  text-align: center;
  color: #212B27;
  margin-top: 25px;
  
}

.login-description{
  position: relative;
  top: 10px;
  width: 424px;
  height: 54px;
  margin:0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #32403B;
  margin-bottom: 44px;
  /* margin-top: 5px; */

}

.input-wrapper{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 40px; */
}


.buttons-wrapper{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.input-wrapper div input{
  width: 490px;
  height: 50px;
  border: 1.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-indent: 50px;
  /* margin-top: 10px; */
  /* margin-bottom: 20px; */
}





.login-btn{
  width: 300px;
  height: 50px;
  background: #84C7AE;
  border-radius: 23px;
  border:none;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 44px;
  color: #F6FBF9;
  margin-top:10px;
  cursor: pointer;
}

.login-btn:hover{
  background: #5A9E85;
}

.demo-user-btn{
  margin-top:20px;
  width: 300px;
  height: 50px;
  background: #84C7AE;
  border-radius: 23px;
  border:none;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 44px;
  color: #F6FBF9;
  cursor: pointer;
}

.demo-user-btn:hover{
  background: #5A9E85;
}

.errors {
  color:#A61A2E;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}