@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Karla:wght@400;500;700&display=swap');

nav {
  background-color: white;
  margin: 0;
  overflow: hidden;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25);
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  height: 72px;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
}

nav ul li img{
  width: 163px;
  height: auto;
}

nav ul li a {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  color: #8394EA;
  display: block;
  line-height: 3em;
  padding: 8px 48px;
  text-decoration: none;
  
}
nav ul li:first-child {
  margin-right: auto;
}


nav ul li a:hover {
  color: #151826;
}


.logout-btn{
  background:none;
  border:none;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  color: #8394EA;
  display: block;
  line-height: 3em;
  padding: 8px 48px;
  text-decoration: none;
}

.logout-btn:hover{
  color: #151826
}

nav ul .drop-down{
  margin-top: 22px;
  margin-right: 40px;
}

.upcoming-reminders {
  box-sizing: border-box;
  width: 237px;
  height: 30px;
  display:block;

  color: rgba(0, 0, 0, 0.5);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), #8394EA;
  border-radius: 8px;
  border-color: #ccd3db;
  border-width: thin;
  text-indent: 5px;
  
}

.upcoming-reminders option{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}


/* .nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 64px;
  gap: 1340px;
  position: absolute;
  width: 1440px;
  height: 72px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25);   
} */

/* .logo{
  width: 163px;
  height: 54px;
  flex: none;
  order: 0;
  flex-grow: 0;
} */

/* .navigations{
  display: flex;
  flex-direction: row;
  position:relative;
  align-items: flex-start;
  padding: 0px;
  gap: 82px;
  width: 356px;
  height: 30px;
  flex: none;
  order: 1;
  flex-grow: 0;
  
} */

/* .login-link{
  width: 59px;
  height: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  align-items: center;
  text-align: right;
  flex: none;
  order: 0;
  flex-grow: 0;
} */

/* .signup-link{
  
  width: 73px;
  height: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  align-items: center;
  text-align: right;
  color: #8394EA;
  flex: none;
  order: 1;
  flex-grow: 0;
} */

/* .about-link{
  width: 60px;
  height: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  align-items: center;
  text-align: right;
  color: #8394EA;
  flex: none;
  order: 2;
  flex-grow: 0;
} */