@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Karla:wght@400;500;700&display=swap');

.item-show-page {
    font-family: 'Karla';
    display: flex;
    justify-content: space-around;
    background-color: #F6FBF9;
    width: 1284px;
    height: 622px;
    border-radius: 49px;
    margin:0 auto;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    margin-top: 63px;
    justify-content: center;
    align-items: center;
}

#item-name-header {
    font-family: "Karla";
    font-size: 40px;
    margin-bottom: 10px;
}
h1.item-show-details {
    font-family: "Karla";
    font-size: 30px;
    margin-bottom: 10px;
    padding-left: 10px;
}
.inventory-show-containers {
    padding: 20px;
    height: 395px;  
    width: 525px;
    overflow: scroll;
    
    /* margin-top: 30px; */
}

.inventory-show-containers a {
    padding-left: 10px ;
}

#notes-div {
    font-family: "Karla";
    min-height: 100px;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 10px 24px hsla(0,0%,0%,0.05), 0 20px 48px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.1);
}

#notes-div i {
 margin-bottom: 20px;
}
